$physics-background: linear-gradient(270deg,rgba(58, 162, 227, 1) 0%, rgba(139, 216, 255, 1) 100%);
$chemistry-background: linear-gradient(270deg,rgba(227, 72, 193, 1) 0%, rgba(255, 163, 235, 1) 100%);
$biology-background: linear-gradient(270deg,rgba(10, 195, 0, 1) 0%, rgba(147, 242, 103, 1) 100%);
$math-background: linear-gradient(270deg,rgba(36, 36, 36, 1) 0%, rgba(113, 113, 113, 1) 100%);
$text-color: #FFFFFF;
$month-year-text-size: 1rem;
$day-text-size: 2rem;
$lunar-calendar-text-size: 0.5rem;
$fact-text-size: 0.5rem;